.Rproj.user
.Rhistory
.Rdata
.httr-oauth
.DS_Store
.quarto
/.quarto/
data/
# Ignore all zip files
*.zip
# Ignore all csv files
*.csv
# Ignore all tmp files
*.tmp
.RDataTmp3
_freeze/Take-home Exercise/Take-home_Ex3/Take-home_Ex3/execute-results/html.json
